/* -----------------------------
   HERO and HEADER styles Carina
---------------------------------*/
.header{
  min-height: 200px;
}
.body {
  display: flex;
  background-color: var(--background);
  padding-bottom: 40px;
  height: 100vh;
}

/*hero*/
.hero {
  position: relative;
  background-size: cover;
  overflow: hidden;
  height: 1000px;
  flex-wrap: nowrap;
  background-image: url(../img/Gemini_Generated_Image_q8ixlmq8ixlmq8ix.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#img {
  height: 900px; 
}



.hero-text h2 {
  position: absolute;
  top: 0;
  right: 100px;
  left: 100px;
  font-size: 90px;
  color: var(--footer-bg);
  pad: 10px;
}



/*nav menu*/
.nav-items {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
  background-color: var(--background);
  height: 200px;
}

/*pawprint*/
.icon {
  fill: var(--button-hover1);
  color: var(--button-hover1);
}

.page-icon {
  display: flex;
  font-size: 25px;
}

/*menu*/
.menu {
  background-color: var(--background);
}

#button {
  background-color: var(--button-button);
  border-color: var(--button-hover1);
  border-radius: 40px;
  font-size: 14px;
  font-weight: bold;
  margin: 3px;
  margin-top: 10px;
  height: 45px;
  width: 100px;
  cursor: pointer;
}
#button:hover {
  background-color: var(--button-hover1);
  color: #fff;
  transition: var(--transition);
}

/*media for different sizes*/

@media (min-width: 1000px){
  #img{
    height: 1100px;
    width: 1500px;
  }
  
 
}
@media (max-width: 800px){
  .hero{
    height: 800px;
  }
  #img{
    height: 500px;
  }
  .hero-text h2{
    font-size: 40px;
  }
}

@media (max-width: 500px){
  #img{
    height: 300px;
  }
  .hero-text h2{
    font-size: 20px;
  }

  
}
